  body {
            background-color: #dcdcdc;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .navbar {
            padding: 1rem;
        }
        .container1 {
            background-color: red;
            padding: 30px;
            color: white;
            text-align: center;
        }
        .container1 h2 {
            font-style: italic;
        }
        h3 {
            color: white;
            border-bottom: 3px solid red;
            margin-top: 1rem;
        }
        .image {
            max-width: 100%;
            height: auto;
        }
        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form-check p {
            margin-bottom: 0;
        }
        .footer {
            padding: 40px;
            background-color: black;
            color: white;
            text-align: center;
        }
        @media (min-width: 768px) {
            .main-content {
                flex-direction: row;
                justify-content: space-between;
            }
        }
